.main-products > li {
  text-decoration: none;
  text-align: center;
  box-shadow: 0px 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 20px;
  list-style: none;
}

.product {
  width: 100%;
  display: flex;
}

.product > img {
  height: auto;
  width: 120px;
}

.product > a {
  padding: 10px 0px;
  text-decoration: none;
  color: #444;
  font-size: 20px;
}

.details {
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-wrapper {
  display: flex;
}

.details-wrapper > div {
  width: 50%;
  margin: 20px;
}

.details-wrapper > div > img {
  width: 100%;
}

.product-description > h4:first-child {
  color: #bbb;
  font-weight: bold;
}

.product-description > h4:nth-child(3) {
  color: #777;
}

.quantity {
  margin: 80px 0px 50px 0px;
}

.counter {
  display: flex;
}

.counter > div {
  margin: 5px 5px;
  padding: 5px 10px;
}

.counter > div:nth-child(1),
.counter > div:nth-child(3) {
  border: 1px solid rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.buttons {
  display: flex;
  margin-bottom: 50px;
}

.buttons > button:nth-child(1) {
  background-color: #444;
  color: white;
  font-size: 20px;
  padding: 15px;
  margin: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}

.buttons > button:nth-child(2) {
  color: #444;
  background-color: white;
  font-size: 20px;
  padding: 15px;
  margin: 5px;
  margin-left: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: underline;
}

.product-description > ul {
  margin-bottom: 80px;
}
